*{
    margin: 20;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    margin-bottom: 20px;
}

.grid-item {
    background-color: gray;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: gray;
}

.navbar {
    width: auto;
    height: 70px;
    display: flex;
    background-color: gray;
    margin-bottom: 20px;
}

.Logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigate {
    width: 75%;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}
.box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;


}

.box-item {
    height: 100px;
    background-color: gray;
    padding: 20px;
    font-size: 30px;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 3;
}

.footer{
    height: 100px;
    width: 100%;
    background-color: gray;
    text-align: center;
    line-height: 3;
    margin-top: 10px;
    font-size: 34px;
}

