*{
    margin: 0;
}
.navbar{
    height: 70px;
    width: 100%;
    background-color: rgb(51, 48, 48);
}
.container{
    margin: 30;
    height: 40px;
    width: 60%;
    background-color: rgb(51, 48, 48);
}
.grid-container {
    height: 40px;
    width: 36%;
    margin: 30;
    display: grid;
    grid-template-columns: auto auto auto ;
    
    grid-gap: 30px;
    margin-bottom: 20px;
}

.grid-item {
    background-color: gray;
    padding: 20px;
    text-align: center;
    color: gray;
}

.grid-box {
    background-color: rgb(117, 61, 61);
    padding: 20px;
    text-align: center;
    color: gray;
    height: 80px;
}
.line{
    display: flex;
    grid-gap: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 20px;
    width: 329%;
    background-color: gray;
}

.footer{
    height:150px;
    width: 329%;
    background-color: rgb(51, 48, 48);
}

.blank{
    align-items: center;
    width: 5%;
    height: 500px;
    display: flex;
    border: 1px solid red;
}